.featured{
    margin-top: 60vh;
    background-color: #000000;
}

.big-text{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    height: 300px;

    --back:#000000;
    --grid:#351265;
    --outline:var(--back);
    text-shadow: -2px -2px 0 var(--outline) , 2px -2px 0 var(--outline) , -2px 2px 0 var(--outline) , 2px 2px 0 var(--outline) ;

    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,var(--back) 70%), repeating-linear-gradient(90deg, var(--grid) 0, var(--grid) 3%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, var(--grid) 0, var(--grid) 3%, transparent 0, transparent 50%);
    background-size: 100% 100%, 1.3em 1.3em, 1.3em 1.3em;
    background-color: #000000;
}

.project{
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "img p-name"
    "img desc";
    grid-gap: 1%;
}

.desc{
    grid-area: desc;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-size: 20px;
}


.image-box{
    grid-area: img;
    position: relative;
    width: fit-content;
    height: fit-content;
    max-width: 95%;
    margin-left: auto;
    
    background: rgb(120, 62, 169);
    --from:rgb(157, 65, 170);
    --to:rgb(57, 88, 167);
    background: linear-gradient(130deg, var(--from), var(--to));
    padding: 4px;
    border-radius: 24px;
    display: grid;
}

.image-box img{
    grid-column: 1;
    grid-row: 1;
    aspect-ratio: 4/3;
    width: 100%;
    max-height: 550px;
    animation-fill-mode: forwards;
    border-radius: 20px;
}

@media (max-width:850px) {
    .project{
        grid-template-columns: none;
        grid-template-areas: "p-name""img""desc";
    }
    .image-box img{
        max-height: 350px;
    }
    .image-box{
        margin: auto;
    }
    .desc{
        padding: 1% 10% 1% 10%;
    }
}

@keyframes fade {
    0%{opacity: 1; visibility: visible;}
    100%{opacity: 0; visibility: hidden;}
}
.fade{
    animation: fade 0.25s linear;
}

.img-btn{
    width: 40px;
    height: 40px;
    
    margin: 10px;
    top: 50%;
    margin-top: -20px;
    
    border: none;
    position: absolute;
    z-index: 5;
    left: 0px;
    font-size: 60px;
    border-radius: 100%;
    background-color: #ffffff21;
    background-image: url("../img/arrow.png");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
}
.img-btn.R{left: auto;right: 0px;}
.img-btn.L{transform: scaleX(-1);}
.img-btn:hover{background-color: #ffffff49;}
.img-btn:active{background-color: #c9c9c920;}