.project_list{
    background-color: #000000;
}
.scroll_list{
    --clr:#4faaffd2;
    --width: 55px;
    --blurH: 15px;
    background:
    linear-gradient(
    #000000 0%,
    #00000000 30%,
    #000000 100%),

    linear-gradient(90deg,
    #00000000 calc(50% - var(--width) - var(--blurH)),
    var(--clr) calc(50% - var(--width)),
    var(--clr) calc(50% + var(--width)),
    #00000000 calc(50% + var(--width) + var(--blurH)));

    margin-top: 50px;
    margin-bottom: 20px;
    overflow-x: hidden;
}
#block_container{
    padding: 10px;
    display: flex;
    padding-left: 50%;
    padding-right: 50%;
    width: fit-content;
    height: fit-content;
}
.block{
    padding-left: 8px;
    padding-right: 12px;
    width: 120px;
    height: fit-content;
    cursor: pointer;
    animation: land 0.3s ease-out;
    animation-fill-mode: forwards;
    transition: 0.7s;
}
.block:hover{
    padding-bottom: 0px;  padding-top: 15px;
    animation: jumping 0.5s ease-out infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.block:hover img{
    border-color: #3f96be;
}

@keyframes jumping {
    100%{padding-bottom:15px;  padding-top:0px;}
}
@keyframes land {
    100%{padding-bottom:0px;  padding-top:15px;}
}

.block img{
    display: block;
    width: 100%;
    
    border: 2px solid #be3fad;
    border-radius: 10px;

    transition: 1s;
}

.block p{
    text-align: center;
    margin: 0;
    font-weight: 900;
}